$theme-red:#E71D36;
$theme-teal:#2EC4B6;
$theme-green:#EFFEE9;
$theme-navy:#011627;

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Hairline.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-SemiBold.otf');
  font-weight: semi-bold;
}
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@media(max-width:991px){
  .about{
    height:450px !important;
    img{
      margin: 10px auto;
    }
  }
}

@media(max-width:768px){
  header{
      ul{
        float:none !important;
      }
  }
  .about{
    img{
      display:none !important;
    }
  }
  .splash-img{
    margin-top: 200px !important;
    height:500px !important;
  }
  .splash-img::before{
    height:500px !important;
  }
  .port-odd{
    height:900px !important;
  }
  .port-even{
    height:900px !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
a:visited{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
a:active{
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
header{
  font-family: 'Montserrat';
  font-weight: 200;
  padding:10px;
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 50;
  background-color: white;
  h1{
    display: inline-block;
    position: absolute;
    top:8px;
    left:100px;
  }
  img{
    display: inline-block;
    max-width: 75px;
    margin-bottom: 10px;
    margin-top: 7px;
  }
  ul{
    list-style: none;
    float:right;
    margin:35px auto;
  }
  li{
    display: inline-block;
    padding:0px 10px;
    border-right:solid 1px $theme-navy;
    text-align: center;
    cursor: pointer;
  }
  li:nth-child(3){
    border-right:none;
  }
  li:hover{
    font-weight: bold;
    color:$theme-red;
  }
}
.splash-img{
  background-image: url('../images/photo-1453928582365-b6ad33cbcf64.jpeg');
  background-size: cover;
  margin-top: 100px;
  height:400px;
  position: relative;
    h1{
      color:white;
      font-weight: semi-bold;
      bottom:0px;
      font-family: 'Montserrat';
      align:bottom;
    }
}
.splash-img::before {
  height:400px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:$theme-teal;
  opacity: 0.3;
}
.about{
  background-color: $theme-navy;
  height:300px;
  h3{
    color:$theme-teal;
    margin: 20px 0px 10px 20px;
  }
  p{
    color:white;
    margin-left: 20px;

  }
  img{
    height:250px;
    margin: 20px auto;
    display:block;
  }
}
.contact-button{
  padding-top:15px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  text-align:center;
}
.hexagon {
	width: 150px;
	height: 75px;
	background: $theme-navy;
  color:white;
  position: relative;
  margin: 80px auto 0px auto;
  cursor: pointer;
}
.hexagon:hover{
    background: $theme-teal;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -35px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 35px solid $theme-navy;
  cursor: pointer;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 35px solid $theme-navy;
  cursor: pointer;
}
.techs{
  margin:20px 0px;
  img{
    margin:15px auto;
    height:100px;
    display: block;
  }
}
.port-odd{
  padding:20px;
  background-color: $theme-green;
  height:500px;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 15px;
  text-align: center;

  #kman-monitor{
    max-height:450px;
    margin:-20px auto;
    display:block;
  }
  h2{
    margin-top:40px;
    color:$theme-red;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
  }
  p{
      margin-bottom: 10px;
      padding:15px;
  }
}
.port-even{
  padding:20px;
  background-color: $theme-navy;
  color:$theme-green;
  height:500px;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  #mt-monitor{
    max-height:450px;
    margin:-20px auto;
    display:block;
  }
  h2{
    margin-top:40px;
    color:$theme-red;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
  }
  p{
      margin-bottom: 10px;
      padding:15px;
  }
}
.port-img{
  display:inline-block;
  width:30%;
  img:hover{
    transform:scale(1.5,1.5);
    cursor:pointer;
  }
  img:active{
    transform:scale(4.0,4.0);
  }
}
.other-projs{
  h3{
    max-width: 100%;
    font-size: 20px;
  }
  h4{
    max-width: 100%;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img{
    margin:10px auto;
  }
  span{
    font-size: 10pt;
  }
}
.headline{
  font-family: 'Montserrat';
  font-weight: 100;
  margin:0px;
  padding:15px;
  text-align: center;
  border-top: solid 2px $theme-teal;
  border-bottom: solid 2px $theme-teal;
}
.contact-info{
padding:25px;
  h3{
    font-family: 'Montserrat';
    font-weight: normal;
  }
  h4{
    font-family: 'Montserrat';
    font-weight: 200;
  }
}
